<table class="table">
  <thead>
    <tr>
      <th scope="col">placa</th>
      <th scope="col">valor litro</th>
      <th scope="col">litros abastecidos</th>
      <th scope="col">km veiculo</th>
	    <th scope="col">data abastecimento</th>
    </tr>
  </thead>
  {{#each posts}}
    <tbody>
      <tr>
      <td>{{dataValues.placa}}</td>
      <td>{{dataValues.valorLitro}}</td>
      <td>{{dataValues.litrosAbastecidos}}</td>
      <td>{{dataValues.kmVeiculo}}</td>
      <td>{{dataValues.dataAbastecimento}}</td>
      </tr>
    </tbody>
  {{/each}}
</table>